<style type="text/css">
	.table-layout {
		width: 50%;
		height: 20vh;
	}
	tr {
		text-align: center;
		letter-spacing: 1px;
		font-size: 1rem;
	}
	.flex {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		margin: 50px auto;
	}
	a {
		margin: 20px auto;
		text-decoration: none;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 1px;
	}
	a:hover {
		color: red;
	}
</style>
<div class="flex">
	<table border=1 class="table-layout">
		<thead>
			<th>Name</th>
			<th>Description</th>
			<th>Status</th>
		</thead>
		<tr>
			{% for key, value in todoitem.items %}
				{% if key == "task_name" or key == "description" or key == "status" %}
			 		<td>{{ value }}</td>
				{% endif %}
			{% endfor %}
		</tr>
	</table>
	<a href="{% url 'index' %}">Return</a>
</div>
